<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.factory.linear-sync.__PROJECT_SLUG__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HOME__/.factory/bin/factory-launch</string>
    <string>__PROJECT_SLUG__</string>
    <string>linear-sync</string>
  </array>
  <key>StartInterval</key>
  <integer>180</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__FACTORY_ROOT__/factory/linear-sync.log</string>
  <key>StandardErrorPath</key>
  <string>__FACTORY_ROOT__/factory/linear-sync.err.log</string>
</dict>
</plist>
